body {
    background-color: rgb(155, 109, 53);
    font-family: "Open Sans", sans-serif, Helvetica, Arial;
}
    header{
        background-color: #d4a373;
    }
    h1{
        color: rgb(245, 88, 88);
    }