 /* Website Styles */

 * {
    font-size: 100%;
 }

body {
    background-color: rgb(155, 109, 53);
    font-family: "Open Sans", sans-serif, Helvetica, Arial;
}

header {
    background-color: #d4a373;
}

h1 {
    color: rgb(83, 13, 13);
}

p {
    color: black;
}