 /* Website Styles */

 * {
    font-family: "Open Sans", sans-serif, Helvetica, Arial;
    margin: 10;
    padding: 0;
 }

body {
    background-color: rgb(155, 109, 53);
    font-size: 14px;
    font-weight: 700;
}

header {
    background-color: #d4a373;
}

h1 {
    color: rgb(83, 13, 13);
    font-size: 70px;
    text-align: center;
}

p {
    color: black;
    font-size: 5%;
    font-weight: 600;
    font-style: normal;
}

footer { 
    font-size: 5px;
}

.clothing {
    color: whitesmoke
}

.sub-title {
    font-sizing: 30px;
}

header a {
    color: rgb(83, 13, 13);
}

section a {
    color:orange;
}

 a:hover {
    text-decoration: underline;
 }